body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
}

input,select{
padding:10px;
margin:10px;
}

#products{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
}

.card img{
width:120px;
height:150px;
}

button{
padding:10px;
background:black;
color:white;
cursor:pointer;
}